* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: white;
  font-family: 'Inter Tight', sans-serif;
  color: #2c2c30;
  font-size: 1rem;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
}

/* Welcome View */
#welcome button {
  background-color: #2C2C2C;
  border-style: none;
  border: solid #2C2C2C 0.5%;
  border-radius: 2px;
  font-weight: 600;
  font-style: italic;
  color: white;
  padding: 5px;
  margin: 15px;
  font-size: 1rem;
}

#welcome button:hover {
  background-color: #29a7d1;
  border: solid #29a7d1 0.5%;
  cursor: pointer;
}

#welcome h1 {
  margin: 10px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Main User Interface Element */
#user-interface {
  position: absolute;
  height: 100%;
}

/* Music Player UI - mainPage */
.music-player-container {
  padding: 2rem 10rem;
  display: grid;
  grid-template-areas:
  "playlists music-player music-player";
  gap: 5px;
  height: 100%;
}

/* Music Player Element - musicPlayerView */
#musicPlayer {
  grid-area: music-player;
  width: 85%;
  height: fit-content;
  display: flex;
  align-self: center;
  justify-self: center;
  flex-direction: column;
  justify-items: center;
  text-align: center;
}

#cd-player-wrapper {
  width: 100%;
}

#cd-player-wrapper img {
  width: 100%;
}

/* Playback Area */
#playback {
  position: relative;
  display: flex;
  align-items: center;
}

#playback-bg-wrapper {
  width: 100%;
}

#playback-bg-wrapper img {
  width: 100%
}

#playlistName {
  position: absolute;
  padding-top: 8px;
  right: 20px;
  left: 20px;
  text-align: center;
}

#artist-info-button {
  background-color: #2C2C2C;
  border-style: none;
  border: solid #2C2C2C 0.5%;
  border-radius: 2px;
  font-weight: 600;
  font-style: italic;
  color: white;
  padding: 5px;
  margin: 3px;
}

#artist-info-button:hover {
  background-color: #29a7d1;
  border: solid #29a7d1 0.5%;
  cursor: pointer;
}

/* Playlists Button elements - Music Catalog */
#playlists {
  grid-area: playlists;
  width: 100%;
  height: fit-content;
  align-self: center;
}

#playlists button {
  width: 100%;
  border-style: none;
  background-color: transparent;
}

.playlist-option img{
  width: 100%;
}

.content-wrapper{
  position: relative;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
}

.button-text {
  position: absolute;
  text-align: center;
  display: flex;
  margin-top: 1%;
  color: #2c2c30;
  font-family: 'Shadows Into Light', cursive;
  font-size: 2rem;
}


/* Logo */
#logo {
  text-align: center;
  font-weight: 900;
  font-size: 1.5rem;
}

#logo span {
  font-family: 'Shadows Into Light', cursive;
  font-size: 3rem;
}

/* Artist Info Element - Pop up */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px 2px #cdcdcd;
  border-radius: 12px;
}

.popup-content img {
  width: 350px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.popup-content .bold {
  font-weight: 600;
}

.popup-content a {
  color: #776494;
  font-weight: 500;
  text-decoration: none;
}

.popup-content a:hover {
  color: #29a7d1;
  font-weight: 500;
  text-decoration: none;
}

.error-message .text {
  margin: 30px;
}

/* Styling for the close button */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: white;
  background-color: #2C2C2C;
  border: solid #2C2C2C 5px;
  border-radius: 15px;
  width: 40px;
  height: fit-content;
  text-align: center;
  padding-bottom: 1%;
}

.close:hover {
  color: white;
  background-color: #29a7d1;
  border: solid #29a7d1 5px;
}

.rotate {
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

/* Media query */
@media (max-width: 1300px) {
  .button-text {
    font-size: 1.65rem;
  }
}

@media (max-width: 1150px) {
  /* Music Player UI - mainPage */
  .music-player-container {
    padding: 2rem 5rem;
    gap: 0px;
  }

  .button-text {
    font-size: 1.55rem;
  }
}

@media (max-width: 950px) {
  .music-player-container {
    padding: 2rem 3rem;
    gap: 0px;
  }

  .button-text {
    font-size: 1.45rem;
  }
}

@media (max-width: 800px) {
  .music-player-container {
    padding: 2rem 2rem;
    gap: 0px;
  }

  .button-text {
    font-size: 1.35rem;
  }
}

@media (max-width: 700px) {
  .music-player-container {
    padding: 2rem 2rem;
    gap: 0px;
    grid-template-areas:
    "music-player"
    "playlists";
  }

  .button-text {
    font-size: 2.45rem;
  }
}

@media (max-width: 600px) {
  .music-player-container {
    padding: 2rem 2rem;
    gap: 0px;
    grid-template-areas:
    "music-player"
    "playlists";
  }

  .button-text {
    font-size: 1.95rem;
  }
}